<!DOCTYPE html>

<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="CSV">
    <meta name="author" content="Eduardo Brito Sanchez y Hector Rodriguez Perez">
    <title>CSV Analyzer</title>
    <link href="font-awesome-4.2.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="bootstrap.min.css" rel="stylesheet">
    <link href="public/global.css" rel="stylesheet" type="text/css">
      <link rel="stylesheet" type="text/css" href="index.css">
     <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.2/underscore-min.js"></script>
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
     <script type="text/javascript" src="csv.js"></script>
     <script type="text/html" id="tableTemplate">
        <p>
            <table class="center" id="result">
                 <% _.each(rows, function(row) { %>
                     <tr class="<%=row.type%>">
                         <% _.each(row.items, function(name) { %>
                         <td><%= name %></td>
                         <% }); %>
                     </tr>
                 <% }); %>
            </table>
        </p>

        </script>
  </head>

  <body>
<!--    <table> -->
    <div class="container-fluid landing-bar">
        <h1 style="color:white">CSV ANALYZER</h1>
    </div>
    <div class="container center-block">
        <table class="center">
      <tr>
        <th>CSV string:</th> <!-- autofocus attribute is HTML5 -->
        <td><textarea autofocus cols = "80" rows = "5" id="original"></textarea></td>
      </tr>
    </table>
    <div style="text-align: center"><button type="button">GENERATE TABLE</button><br></div>
    
    <span class="output" id="finaltable"></span> 
    </div>
   

    <!-- Footer -->
    <footer id="footer">
        <div class="navbar navbar-default navbar-fixed-bottom footer-bar text-center" style="color:white">
            <div class="row">
                <div class="col-lg-12 ">
                    <h4> <a href="http://eduardobritosan.github.io/csvJavascript/tests/index.html" style="color:white"> Tests </a></h4>
                </div>
            </div>
        </div>
    </footer>
  </body>
</html>
