<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>CSV Analyzer</title>
    <link href="../public/global.css" rel="stylesheet" type="text/css">
    <link href="../font-awesome-4.2.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="../bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="mocha.css">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.2/underscore-min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script type="text/javascript" src="csv.js"></script>
    <script type="text/html" id="tableTemplate"> 
      <p>
        <table class="center" id="result">
                <% _.each(rows, function(row) { %>
                    <tr class="<%=row.type%>">
                        <% _.each(row.items, function(name) { %>
                        <td><%= name %></td>
                        <% }); %>
                    </tr>
                <% }); %>
        </table>
      </p>
    </script>
</head>
  <body>
    <h1>CSV ANALYZER</h1>
    <table class="center">
      <tr>
        <td><textarea autofocus cols = "80" rows = "5" id="original"></textarea></td> 
      </tr>
    </table>
    <button style="text-align: center" type="button">Generate CSV Table</button><br>
    <span class="output" id="finaltable"></span>
    <div id="mocha"></div>
    <script src="chai.js"></script>
    <script src="mocha.js"></script>
     <script src="blanket.js"
          data-cover-adapter="mocha-blanket.js"></script>
    <script src="../csv.js" data-cover></script>
    <script>mocha.setup('tdd')</script>
    <script src="test.js"></script>
    <script>
      mocha.run();
    </script>
  </body>
</html>