<h1>CSV Analyzer</h1>
   <h1>Comma Separated Value Analyzer</h1>

   <div>
     <i>Write a CSV string. Click the table button. The program outputs a table with the specified data.</i>
   </div>
   <table>
     <tr>
       <th>CSV string:</th> <!-- autofocus attribute is HTML5 -->
       <td><textarea autofocus cols = "80" rows = "5" id="original"></textarea></td>
     </tr>
   </table>
   <button type="button" id="tableButton">table:</button><br>
   <button type="button" onClick="window.location.href='http://alu0100764666.github.io/PL_practica2/tests/index.html'">Tests</button><br>
   <span class="output" id="finaltable"></span>
